/* sa home page*/
body {
    background-color: powderblue;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.content {
    background-color: white;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}


/* Contact */
.contact-form {
    background-color: white;
    width: 40%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}


.contact-form input:focus,
.contact-form textarea:focus {
    border: 1px solid #333;
    outline: none;
}


.contact-form button {
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 15px;
}

.contact-form button:hover {
    background-color: #444;
}